/* TOC – Typography variables

Modular Scale › http://www.modularscale.com/?18,12&px&1.125&web&text

- Fonts
- Font Weight
- Font Size Variables

*/

@import "functions"; // Allows the use of rem-calc() or lower-bound() in your settings



/* Fonts
------------------------------------------------------------------- */

$base-font-size: 18px;
$rem-base: $base-font-size;
// $base-line-height is 24px while $base-font-size is 16px
$base-line-height: 1.5 !default;


$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, Times, serif;
$font-family-monospace: "Lucida Console", Monaco, monospace;

$body-font-family: $font-family-serif;
$body-font-weight: normal;
$body-font-style: normal;

$header-font-family: $font-family-sans-serif;



/* Font Weight
------------------------------------------------------------------- */

$font-weight-normal: normal;
$font-weight-bold: bold;



/* Font Size Variables
------------------------------------------------------------------- */

$font-size-p:    	$base-font-size;
$font-size-h1:      2.027em;
$font-size-h2:      1.924em;
$font-size-h3:      1.802em;
$font-size-h4:      1.711em;
$font-size-h5:      1.352em;
$font-size-small:   0.8em;

$font-size-small-screen-p:    	 0.949em;
$font-size-small-screen-h1:      1.802em;
$font-size-small-screen-h2:      1.711em;
$font-size-small-screen-h3:      1.602em;
$font-size-small-screen-h4:      1.52em;
$font-size-small-screen-h5:      1.352em;
$font-size-small:   0.8em;

.font-size-h1   { font-size: $font-size-h1; }
.font-size-h2   { font-size: $font-size-h2; }
.font-size-h3   { font-size: $font-size-h3; }
.font-size-h4   { font-size: $font-size-h4; }
.font-size-h5   { font-size: $font-size-h5; }
