/* TOC – Typography 

Check typography variables › _3_typography_settings.scss

- Links
- Customize Foundation Typography
- Headlines
- Images
- Lists
- Tables
- Code
- Quotes
- Typography for Articles
- Smaller Fontsize for Bigteaser on small devices
- Additional typographical elements
- Footnotes
- Icon Font

*/



@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/iconfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/iconfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/iconfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'fate';
  src: url('/assets/fonts/Fate_Webfont/fate_core_font-webfont.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Fate_Webfont/fate_core_font-webfont?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Fate_Webfont/fate_core_font-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/Fate_Webfont/fate_core_font-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Fate_Webfont/fate_core_font-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}


.fate_font {
  font-family: "fate";
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background-color: white;
  border-bottom-color: white;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
  color: black;
}
.fate_font.big {
  font-size: 2em;
  line-height: 1.2em;
}

article
{
    text-align: justify;
    h3, h4, h5, h6 
    {
      border-bottom-style: solid;
      border-bottom-width: 3px;
    }

}

    blockquote p
    {   
        font-style: normal;
    }
