---
#
#  This template builds you a category archive.
#  To use this template simply assign in front matter
#  the layout and define the category for which the
#  archive page should be build. Example:
#
#  layout: archive_category
#  category: music
#
layout: default
format: archive
---
<div id="content" class="row t30">
	<div class="medium-10 medium-offset-1 large-8 columns large-offset-2 end">
		<article>
			<header>
				{% if page.image.title %}
				<figure>
					<img src="{{ site.url }}/images/{{ page.image.title }}" width="970" alt="{{ page.title escape_once }}">

					{% if page.image.caption_url && page.image.caption %}
					<figcaption class="text-right">
						<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
					</figcaption>
					{% elsif page.image.caption %}
					<figcaption class="text-right">
						{{ page.image.caption }}
					</figcaption>
					{% endif %}
				</figure>
				{% endif %}

				<span>
					{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
					<h1>{{ page.title }}</h1>
				</span>
			</header>


			{% if page.teaser %}
			<p class="teaser">
				{{ page.teaser }}
			</p>
			{% endif %}

			{{ content }}

			<ul class="side-nav sans">
			{% for post in site.categories.[page.category] %}
				<li><a href="{{ site.url }}{{ post.url }}">{% if post.subheadline %}{{ post.subheadline }} &middot; {% endif %}<strong>{{ post.title }}</strong></a></li>
				{% endfor %}
			    <li>&nbsp;</li>
			</ul>

		</article>
	</div><!-- /.medium-8.columns -->
</div><!-- /.row -->
